{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table{
        border-collapse: collapse;
        width: 100%;
        border-color:rgb(79, 172, 209) ;
    }
     td{
        
        padding:10px;
        text-align: center;
     }
     .tbhead{
        height: 60px;
     }
     body{
        background-color: rgb(231, 244, 250);
        color:rgb(79, 172, 209);
     }
    </style>
</head>

<body>
    <table border="2" >
    <tr class="tbhead">
        <th>Name</th>
        <th>Photo</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Date</th>
    </tr>
        
    {% for i in friend_data %} 
    <!-- <div class="{% cycle 'row1' 'row2' %}" -->
     
  <tr>
            <td>{{i.name}}</td>
            <td><img src="{{i.photo.url}}" height="100px" width="100px"></td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.address}}</td>
            <td>{{i.created}}</td>
        
        </tr>  
    {% endfor %}
{% comment %}
    hello
    {% endcomment %}


</table>



</body>
</html>